modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36049
externalPort = 3000
